<!--<h1>
  {{title}}
</h1>-->

<!--input example -->
<!--<search-box searchPlaceHolder="Custome Placeholder"></search-box>-->

<!--input & output example-->
<!--<color-picker #picker color="red" (color)="colorPreviewer.color = $event" ></color-picker>
<color-previewer  #colorPreviewer></color-previewer>
<button (click)="picker.reset()">Reset</button>-->

<!--<color-sample #sample></color-sample>
<input (keyup)="sample.color = input.value" #input placeholder="Type your color">-->

<!--custom directive example-->
<!--<custome-directive></custome-directive>-->

<!--ngFor example-->
<!--<app-ng-for-example></app-ng-for-example>-->

<!--ngIf example-->

<!--<app-ng-if-example></app-ng-if-example>-->


<!--events example "Zone"-->
<!--<app-ng-events-example>  </app-ng-events-example>-->

<!--pip example-->
<!--<pipes-example></pipes-example>-->

<!--service example -->
<service-example></service-example>
