<div collapse-on-click #cp="collapsible" [collapsed]="collaped" (collapsed)="onToggle($event)"
class="col-lg-6 col-md-6 col-xs-6 col-sm-6 col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3 card card-strong disable-text-selection ">
  <i class="card-header" *ngIf="!cp.collaped">arrrow drop down</i>
  <i class="card-header" *ngIf="cp.collaped">arrow drop up</i>

  <div class="card-block"  *ngIf="!cp.collaped">
    this page selection is collapsible, double click it and it will collapse or expand
  </div>
</div>
